<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Office Employement Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container">
        <h1>Add Employee Details</h1>
        <hr>
        
        <form class="row g-3" action="/add_emp" method="post">
            {% csrf_token %}
            <div class="col-md-6">
              <label for="first_name" class="form-label">First Name</label>
              <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}">
            </div>
            <div class="col-md-6">
              <label for="last_name" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="last_name" name="last_name" {{ last_name }}>
            </div>
            <div class="col-12">
                <label for="salary" class="form-label">Salary</label>
                <input type="Number" class="form-control" id="salary" name="salary" placeholder="0" {{ salary }}>
            </div>
            
            <div class="col-12">
                <label for="bonus" class="form-label">Bonus</label>
                <input type="Number" class="form-control" id="bonus" name="bonus" placeholder="0" {{ bonus }}>
            </div>
            <div class="col-md-6">
                <label for="dept" class="form-label">Department</label>
                <input type="Number" class="form-control" id="dept" name="dept" {{ dept }}>
              </div>
              <div class="col-md-6">
                <label for="role" class="form-label">Role</label>
                <input type="Number" class="form-control" id="role" name="role" {{ role }}>
              </div>
              <div class="col-12">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="Number" class="form-control" id="phone" name="phone" placeholder="0" {{ phone }}>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
          </form>

    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>